{
  "presets": [
    [
      "latest",
      {
        "target": {
          "node": "6.10"
        },
        "modules": false,
        "loose": true
      }
    ],
  ],
  "plugins": [
    "transform-runtime",
    "transform-inline-environment-variables",
    "transform-class-properties",
    "transform-object-rest-spread"
  ]
}
